@model Trippism.Areas.TripAdvisor.Models.AttractionsRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Attractions Request</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
    
            <div class="form-group">
                @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SubCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.SubCategory, new { htmlAttributes = new { @class = "form-control" } })*@

                    @*@Html.DropDownList("Types", ViewData["Types"] as System.Web.Mvc.SelectList, new { htmlAttributes = new { @class = "form-control" } })*@

                    @Html.DropDownList("SubCategory", new List<SelectListItem>
                        { new SelectListItem { Text = "other", Value = "other", Selected=true},
                        new SelectListItem { Text = "activities", Value = "activities"},
                        new SelectListItem { Text = "nightlife", Value = "nightlife"},
                        new SelectListItem { Text = "shopping", Value = "shopping"},
                         new SelectListItem { Text = "bars", Value = "bars"},
                        new SelectListItem { Text = "clubs", Value = "clubs"},
                         new SelectListItem { Text = "food_drink", Value = "food_drink"},
                        new SelectListItem { Text = "ranch_farm", Value = "ranch_farm"},
                         new SelectListItem { Text = "adventure", Value = "adventure"},
                        new SelectListItem { Text = "gear_rentals", Value = "gear_rentals"},
                         new SelectListItem { Text = "wellness_spas", Value = "wellness_spas"},
                        new SelectListItem { Text = "classes", Value = "classes"},
                        new SelectListItem { Text = "sightseeing_tours", Value = "sightseeing_tours"},
                        new SelectListItem { Text = "performances", Value = "performances"},
                        new SelectListItem { Text = "sports", Value = "sports"},
                        new SelectListItem { Text = "outdoors", Value = "outdoors"},
                        new SelectListItem { Text = "amusement", Value = "amusement"},
                        new SelectListItem { Text = "landmarks", Value = "landmarks"},
                        new SelectListItem { Text = "zoos_aquariums", Value = "zoos_aquariums"},
                        new SelectListItem { Text = "museums", Value = "museums"},
                        new SelectListItem { Text = "cultural", Value = "cultural"}
                        
                        }, "TA Select Category")
                        @Html.ValidationMessageFor(model => model.SubCategory, "", new { @class = "text-danger" })
</div>
            </div>
    
    
            <div class="form-group" style="height:20px">
              
                <div class="col-md-10">
             
                </div>
            </div>
            <div class="form-group" >
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Attraction" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
</body>
</html>
